{% extends 'dashboard.html' %}


{% block title %}
Profile
{% endblock %}

{% block body %}
<div class="container">
    <form method="post">
    {% csrf_token %}
        <label for="Password">Password{{users}}</label>
                      <input type="password" class="form-control" name="psw" id="Psw" placeholder="Password">
                      <input type="hidden" name="key" value="{{users}}" />
                      
        <button type="submit">Submit</button>
    </form>
    <br>
</div>

{% endblock %}
