{% load static%}
<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="{% static 'css/contact.css' %}" />


<p style="text-align:center;">
    <a href = "{% url 'home' %}" </a>
    <img = src = "{% static 'media/logo.svg'%}" alt="Logo" style="width: 100px; height: 100px;">

</p>
</head>
<body>
  <nav class="navbar">

    <!-- NAVIGATION MENU -->
    <ul class="nav-links">


      <!-- NAVIGATION MENUS -->
      <div class="menu">
        <li><a href="{% url 'home' %}" >Home</a></li>
                 <li><a href="{% url 'research' %}">Research Publications</a></li>
                    <li><a href="{% url 'people' %}">People</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>


      </div>
    </ul>


              <li><a onclick="document.getElementById('id01').style.display='block'"
              style="width:auto;" style="float: right" >Login</a></li>

       </nav>
    <div id="id01" class="modal">

      <form class="modal-content animate" action="/action_page.php" method="post">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close"
           title="Close Modal">&times;</span>
           <img = src = "{% static 'media/cslogo.png'%}" alt="Avatar" style="width: 100px; height: 100px;">
        </div>

        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <button type="submit" >Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>

        <div class="container" style="background-color: white">
          <a type="button" onclick="document.getElementById('id01').style.display='none'"
          class="cancelbtn">Cancel</a>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>

    <script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>



           </div>

<div class="fcf-body">

   <div id="fcf-form">



   <h3 class="fcf-h3">Contact us</h3>

   <form id="fcf-form-id" class="fcf-form-class" method="post" action="contact-form-process.php">

       <div class="fcf-form-group">
           <label for="Name" class="fcf-label">Your name</label>
           <div class="fcf-input-group">
               <input type="text" id="Name" name="Name" class="fcf-form-control" required>
           </div>
       </div>

       <div class="fcf-form-group">
           <label for="Email" class="fcf-label">Your email address</label>
           <div class="fcf-input-group">
               <input type="email" id="Email" name="Email" class="fcf-form-control" required>
           </div>
       </div>

       <div class="fcf-form-group">
           <label for="Message" class="fcf-label">Your message</label>
           <div class="fcf-input-group">
               <textarea id="Message" name="Message" class="fcf-form-control" rows="6" maxlength="3000" required></textarea>
           </div>
       </div>

       <div class="fcf-form-group">
           <button type="submit" id="fcf-button"
           class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Send Message</button>
       </div>


   </form>
   </div>

</body>
</html>

