<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login page</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

<link rel="stylesheet" href="style1.css">
<p style="text-align:center;">
  <a href="Home.html">
<img src="logo.svg"
	alt="Logo"
style="width: 100px; height: 100px;">
 </a>

  </head>



  <body>

    <!-- Example Code -->

     <nav class="navbar navbar-expand-lg" style="background-color: #0f386c">


       <div class="container-fluid" >

         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>



         <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

           <a class="navbar-brand" style="color: #FFFFFF" href="Home.html">Home</a>

           <ul class="navbar-nav me-auto mb-2 mb-lg-0">

             <li class="nav-item">
               <a class="nav-link" style="color: #FFFFFF" href="Research Groups.html">Research Groups</a>
             </li>

             <li class="nav-item">
               <a class="nav-link" style="color: #FFFFFF" href="People.html">People</a>
             </li>


             <li class="nav-item">
               <a class="nav-link" style="color: #FFFFFF" href="Research Publications.html">Research Publications</a>
             </li>

             <li class="nav-item">
               <a class="nav-link" style="color: #FFFFFF" href="About.html">About</a>
             </li>

             <li class="nav-item">
               <a class="nav-link" style="color: #FFFFFF" href="Contact.html">Contact</a>
             </li>
           </ul>
           <form class="d-flex" role="search">
             <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
             <button class="btn btn-primary" style="color: #FFFFFF" type="submit">Search</button>
           </form>
          </div>

           <div class="dropdown">
             <li class="nav-item">
            <button type="button" style="color: #FFFFFF" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
              Account
            </button>
            <ul class="dropdown-menu">


              <li><a class="dropdown-item" href="signin.hmtl">Sign in</a></li>
              <li><a class="dropdown-item" href="signup.html">Sign up</a></li>

            </ul>
          </li>
         </div>
       </div>
     </nav>

     <!-- End Example Code -->





         <hr class="featurette-divider">

         <!-- /END THE FEATURETTES -->

       </div><!-- /.container -->


       <!-- FOOTER -->

       <div class="container">
         <footer class="py-5">
           <div class="row">
             <div class="col-6 col-md-2 mb-3">
               <h5>Section</h5>
               <ul class="nav flex-column">
                 <li class="nav-item mb-2"><a href="Home.html" class="nav-link p-0 text-muted">Home</a></li>
                 <li class="nav-item mb-2"><a href="Research Groups.html" class="nav-link p-0 text-muted">Research Groups</a></li>
                 <li class="nav-item mb-2"><a href="People.html" class="nav-link p-0 text-muted">People</a></li>
                 <li class="nav-item mb-2"><a href="About.html" class="nav-link p-0 text-muted">About</a></li>
                 <li class="nav-item mb-2"><a href="Contact.html" class="nav-link p-0 text-muted">Contact</a></li>


               </ul>
             </div>

             <div class="col-md-5 offset-md-1 mb-3">
               <form>
                 <h5>Subscribe to our newsletter</h5>
                 <p>Monthly digest of what's new and exciting from us.</p>
                 <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                   <label for="newsletter1" class="visually-hidden">Email address</label>
                   <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                   <button class="btn btn-primary" type="button">Subscribe</button>
                 </div>
               </form>
             </div>
           </div>

           <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
             <p>&copy; 2022 Company, Inc. All rights reserved.</p>
             <ul class="list-unstyled d-flex">
               <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
               <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
               <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
             </ul>
           </div>
         </footer>
       </div>

  </body>
</html>
