{%load static%}

<!DOCTYPE html>
<head>
    <title> Papers </title>
</head>

<body>
    <center>
        <h1> Filter papers <h1>
            

        <hr>
    <form method = 'GET'>
           {% csrf_token %} 
           Search publications:<input type = 'text' name = 'q'/>

        {% comment %} Start Date:<input type = 'date' name = 'startdate' />
        End Date:<input type = 'date' name = 'enddate' />

        Univertity: <input type = 'text' name = 'university'/>
        Research group: <input type = 'text' name = 'researchgroup'/>
        Type of publication: <input type = 'text' name = 'papertype'/> {% endcomment %}
    
{% comment %}     
        <form method = 'POST'>
            {% csrf_token %}
         Start Date:<input type = 'date' name = 'startdate'/>
         End Date:<input type = 'date' name = 'enddate'/>
 
         Univertity: <input type = 'text' name = 'university'/>
         Research group: <input type = 'text' name = 'researchgroup'/>
         Type of publication: <input type = 'text' name = 'papertype'/> 
         search : <input type = 'text' name = 'papers'> {% endcomment %}
        <input type = 'submit' name = 'Search'/>
        <h1> reports <h1>
            <hr>
           <a href = "{% url 'paperpdf' %}" > Generate report </a>
        </hr>
        <table border = '1'>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Co_author</th>
                <th>Description</th>
                <th>View</th>
               
            </tr>
            {% for paper in papers%}
            <tr> 
                <td>{{paper.title}}</td>
                <td>{{paper.author}}</td>
                <td>{{paper.co_author}}</td>
                <td>{{paper.description}}</td>
                <td><a href = '{{ paper.pdf.url }}'> download </a></td>
             
            </tr>
            {% endfor%}
        </table>
    </center>
</body>
<html>