{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>


    <script type='text/javascript' src=''></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
    <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>
    
    
    <body oncontextmenu='return false' class='snippet-body'>
{% endblock %}

{% block body %}
<div class="container-fluid">
        <div class="row">
          <div class="col-12 mb-3">
          <div class="col-12 mb-3">
              <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="">Name : {{ object.first_name}} {{ object.last_name}} </a>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table text-warning"></i>
                    Profile
                </div>
                <div class="card-body">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <img class="img-fluid" alt="100%x280"

                                             src= {% if object.uni.image %}{{ object.uni.image.url }}{% else %} {% static 'media/logo.svg' %}{% endif %} style="width:100px;height:100px">

 <div class="row">
        <div class="col-12">
            <ul class="list-group">
              <li class="list-group-item"><strong>Name :</strong>{{ object.first_name}} {{ object.last_name}}  </li>
              <li class="list-group-item"><strong>Role :</strong> {{ object.role.RoleType}}</li>
              <li class="list-group-item"><strong>Group:</strong>{{ object.grp.Gname}}</li>
              <li class="list-group-item"><strong>Institution :</strong>{{ object.uni.Uniname}}</li>
              <li class="list-group-item"><strong>Bio :</strong></li>
            </ul>
        </div>
    </div>

    <div class="row top-buffer" style="padding-top: 10px">
        <div class="col-12">
        
                <a href="{% url 'people' %}"><button type="button" style="padding: 8px; float: right; background-color: blue; color: white;" class="btn btn-success">Back</button></a>
        </div>
    </div>


          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Co Author</th>
                          
                                <th>View</th>
                               

                            </tr>
                            </thead>
                            <tbody>
			
                        {% if Papers %}
                            {% for paper in Papers %}
                            
                           
                           
                            	
                                <tr>
                                    
                                    <td>{{ paper.title }}</td>
                                    <td>
                                   	{{ paper.author}}
                                    </td>
                                    <td>{{ paper.co_author }}</td>
                                    <td>
                <a href="{% url ''  %}"><button type="button" class="btn btn-primary"> View</button></a>
                 </td>
                
                            
                             
                            {% endfor %}
                            {% else %}
                            <h4> There are no papers Yet</h4>
                        {% endif %}
                            </tbody>
                        </table>
{% endblock %}
