{%load static%}

<!DOCTYPE html>
<head>
    <title> REports </title>
</head>

<body>
    <center>
      
        <form method = 'POST'>
            {% csrf_token %}
         
         <label for="dates">start date:</label>
        <input type="date" id="date" name="startdate">

        <label for="dates">end date:</label>
        <input type="date" id="date" name="enddate"> 

         <label for="type"><b>type</b></label>
         <select id="type" name="type">
         <option selected> </option>
         {% for typ in type%} 
         <option value={{typ.name}} >{{typ.name}}  
         </option>
         {% endfor %} 


        <input type = 'submit' name = 'Search'/>
        </form>
        <h1> reports <h1>
            <hr>
           <a href = "{% url 'paperpdf' %}" > Generate report </a>
        </hr>

        <p> Number of papers </p>
        {% if filter %}
        {{filter}}
        {%else%}
        <p> 0 </p>
            {% endif%}
    </center>
</body>
<html>