{% extends 'base.html' %}
{% load static %}
 {% block style %}href="{% static 'css/about.css' %}"{% endblock %}

{% block body %}
  <div class="about-section">


    <h1 style="text-align:center">Structure and History</h1>

    <p>The Department of Science and Innovation provides the majority of funding for the Centre for Artificial Intelligence Research (CAIR), a dispersed South African research network with nine established and two emergent research groups spread across eight institutions (DSI). Virtually, the Council for Scientific and Industrial Research serves as its host and coordinator (CSIR). The Department of Science and Innovation provides the majority of funding for the Centre for Artificial Intelligence Research (CAIR), a dispersed South African research network with nine established and two emergent research groups spread across eight institutions (DSI). Virtually, the Council for Scientific and Industrial Research serves as its host and coordinator (CSIR).</p>

    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  <p> </p>

    </div>
  </div>
 {% endblock %}
