{% extends 'base.html' %}
{% load static %}
 {% block style %}href="{% static 'css/people.css' %}"{% endblock %}

{% block body %}

<h2 style="text-align:center" font= "Helvetica"> Our Team </h2>



<div class="row">
 <div class="column">
   <div class="card">
    
    <img = src = "{% static 'media/picture1.jpeg'%}" alt="Jane" style="width: 100%" >
    
     <div class="container">

       <h2>Prof Tommie Meyer</h2>

       <p class="title">Co-Director</p>
       <p>Some text that describes me lorem ipsum ipsum lorem.</p>
       <p>aaaa@example.com</p>


       <p><button class="button">Contact</button></p>


     </div>
   </div>
 </div>

 <div class="column">
   <div class="card">
    <img = src = "{% static 'media/picture1.jpeg'%}" alt="Mike" style="width: 100%" >
     
     <div class="container">

       <h2>A/Prof Deshen Moodley</h2>

       <p class="title">Co-Director</p>
       <p>Some text that describes me lorem ipsum ipsum lorem.</p>
       <p>mike@example.com</p>
       <p><button class="button">Contact</button></p>
     </div>
   </div>
 </div>

 <div class="column">
   <div class="card">
    <img = src = "{% static 'media/picture1.jpeg'%}" alt="John" style="width: 100%" >
     
     <div class="container">
       <p><p>
       <h2>Mrs Tharien Potgieter</h2>
       <p class="title">Centre Administrator</p>

       <p>Some text that describes me lorem ipsum ipsum lorem.</p>
       <p>john@example.com</p>


       <p><button class="button">Contact</button></p>
     </div>
   </div>
{% endblock %}
